# All variable names must start with VITE_
# When adding/removing variables, remember to also update them in 'src/vite-env.d.ts'
# https://vitejs.dev/guide/env-and-mode.html

VITE_APP_NAME="My React App"
VITE_I18N_DEBBUG=true
VITE_SWAPI_BASE_URL=https://swapi.dev/api
VITE_VIACEP_BASE_URL=https://viacep.com.br/ws